body{
    background: center no-repeat url("../images/fond.jpg");
}
h2 {
    color : lightskyblue;
}
h1 {
    color : darkblue;
}

p {
    color : antiquewhite;

}
h3 {
    color : darkblue;
}
#Argentine{
    text-align: center;
}
.tatou{
     color : darkorchid;
     text-decoration : underline;
     text-transform: uppercase;
 }