main{
	margin:0 auto;  /* permet de centrer à 60% de la page*/
	width: 60%;
}
h1,h2{
text-align: center;
}
nav{
float: left;




}

#section1{
float: left;
margin: 1px 30px 1px 30px;
	/*width: 450px;/
	 */
	width: 38%;

}

#section2{
	float: right;
	margin: 1px 30px 1px 30px
}
footer{
clear: both;
}
