main{
	margin:0 auto; /* permet de centrer la page*/
	width: 55%;  
}
header
{
	text-align: center;
}

nav
{
	width : 150px ;
	border : 1px solid blue ;
}
section
{
	border : 1px solid blue ;
	width: 55%;
	position: relative;
	text-align: center;
	margin-left: 25%;
	margin-top: -10%;
}





